<a href="https://colab.research.google.com/github/prabur90/Python/blob/main/collection_set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### SETS


```
2) Set should not contain duplicate elements.
2) We can't change the items but we can add and remove the items in the set
3) Set does not have the insertion order

Syntax: set_name = set()
Example: set = set("Apple","Banana","Orange")
set = {"Apple","Banana","Orange"}
```


# CREATE OPERATION

In [13]:
# Create a dict using the curly braces
fruits = {"Apple","Banana","Orange"}
print(fruits)
print(type(fruits))

"""
my_set = set()
print(my_set)
print(type(my_set))
"""

# set don't have duplicate items and it won't throw any excetion
fruits = {"Apple","Banana","Orange","Apple"}
print(fruits)

# True and 1 are same as well False and 0 are same
booleans = {True,False, 1, 0}
print(booleans)

{'Banana', 'Apple', 'Orange'}
<class 'set'>
{'Banana', 'Apple', 'Orange'}
{False, True}


# READ OPERATION

In [16]:
# We can access the set elements using the for loop only
fruits = {"Apple","Banana","Orange"}
for x in fruits:
  print(x)

# We can't get the element using index, because it is unordered data type'set' object is not subscriptable
# 'set' object is not subscriptable
# print(fruits[1])

Banana
Apple
Orange


# UPDATE OPERATION

In [22]:
# Once a set is created, you cannot change its items, but you can add new items.
# Add one item to a set
fruits = {"Apple","Banana","Orange"}
fruits.add("Mango")
print(fruits)

# Add multiple items to a set
fruits.update(["Guava","Pineapple"]) # We can add any iterables
print(fruits)

# Update the set from another set
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'Banana', 'Apple', 'Mango', 'Orange'}
{'Mango', 'Pineapple', 'Guava', 'Orange', 'Banana', 'Apple'}
{'papaya', 'pineapple', 'mango', 'banana', 'apple', 'cherry'}


# DELETE OPERATION

In [31]:
# remove, discard, pop, clear, del
# remvoe - If the item to remove does not exist, remove() will raise an error.
fruits = {"Apple","Banana","Orange"}
fruits.remove("Apple")
print(fruits)

# discard - If the item to remove does not exist, discard() will NOT raise an error.
fruits.discard("Banana")
print(fruits)

# pop - removes a random item from the set and return the value
fruits = {"Apple","Banana","Orange"}
fruite_name =fruits.pop()
print(fruits)
print(f"Removed Element --> {fruite_name}")

# clear - removes all the items from the set
fruits.clear()
print(fruits)

# del - removes the set
fruits = {"Apple","Banana","Orange"}
del fruits
print(fruits)

{'Banana', 'Orange'}
{'Orange'}
{'Apple', 'Orange'}
Removed Element --> Banana
set()

NameError: name 'fruits' is not defined


# LENGTH OPERATION

In [1]:
# How to find the length of the set
fruits = {"Apple","Banana","Orange"}
print(len(fruits))

3


# JOIN OPERATION

1) The **union()** and **update()** methods joins all items from both sets.

2) The **intersection()** method keeps **ONLY the duplicates**.

3) The **difference()** method keeps the items from the first set that are not in the other set(s).

4) The **symmetric_difference()** method keeps all items EXCEPT the duplicates.

In [7]:
# Union and Update methods
fruits = {"Apple","Banana","Orange"}
tropical = {"pineapple", "mango", "papaya"}
fruits.update(tropical)
print(fruits)

# union method
fruits = {"Apple","Banana","Orange"}
tropical = {"pineapple", "mango", "papaya"}
fruits_tropical = fruits.union(tropical)
print(fruits_tropical)

# Intersection method
fruits = {"Apple","Banana","Orange"}
tropical = {"pineapple", "mango", "Orange"}
common_fruites = fruits.intersection(tropical)
print(common_fruites)

# difference method
fruits = {"Apple","Banana","Orange"}
tropical = {"pineapple", "mango", "Orange"}
dif_fruits = fruits.difference(tropical)
print(fruits)

# symmetric_difference method
fruits = {"Apple","Banana","Orange"}
tropical = {"pineapple", "mango", "papaya"}
sym_fruits = fruits.symmetric_difference(tropical)
print(fruits)

{'Orange', 'pineapple', 'Apple', 'papaya', 'mango', 'Banana'}
{'Orange', 'pineapple', 'Apple', 'papaya', 'mango', 'Banana'}
{'Orange'}
{'Orange', 'Apple', 'Banana'}
{'Orange', 'Apple', 'Banana'}