<a href="https://colab.research.google.com/github/prabur90/Python/blob/main/collection_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### TUPLE


```
1) Tuple may contain duplicate elements.
2) Tuple is immutable.
3) Tuple is ordered.
4) Tuple is indexed.

Syntax: tuple_name = (value1, value2, value3, ...)
Example: tuple1 = (10, 20, 30, 40, 50)
```


# CREATE OPERATION

In [11]:
# Create tuple with "(" and ")"
tuple1 = (10, 20, 30, 40, 50)
print(tuple1)
print(type(tuple1))

# Important with the creation
tuple1 = (10)
print(tuple1)
print(type(tuple1)) # It will throw int type

tuple1 = (10,)
print(tuple1)
print(type(tuple1))

(10, 20, 30, 40, 50)
<class 'tuple'>
10
<class 'int'>
(10,)
<class 'tuple'>


# READ OPERATION

In [57]:
tuple1 = (10, 20, 30, 40, 50)
print(tuple1)

print("USING INDEX")
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[3])
print(tuple1[4], end="\n\n")

print("USING SLICING")
print(tuple1[0:3])
aTuple = ("Orange", [10, 20, 30], (5, 15, 25))
print(aTuple[1])
print(aTuple[1][1])
print(aTuple[1:2], end="\n\n")

# It will throw Index Error
# print(tuple1[5])

# Negative Index
print("USING NEGATIVE INDEX")
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])
print(tuple1[-4])
print(tuple1[-5], end="\n\n")

print("USING FOR LOOP")
for i in tuple1:
  print(i)

(10, 20, 30, 40, 50)
USING INDEX
10
20
30
40
50

USING SLICING
(10, 20, 30)
[10, 20, 30]
20
([10, 20, 30],)

USING NEGATIVE INDEX
50
40
30
20
10

USING FOR LOOP
10
20
30
40
50


# UPDATE OPERATION

In [23]:
# We can't update the elements in Python, since it is immutable
# If we try to update the element. it will throw Type Error
# We don't have the append, insert method in Tuple
tuple1 = (10, 20, 30, 40, 50)
print(tuple1)

tuple1[0] = 100

(10, 20, 30, 40, 50)

TypeError: 'tuple' object does not support item assignment


# JOIN OPERATION

In [42]:
# But we can add new tupple with the existing tuple
tuple1 = (10, 20, 30, 40, 50)
print(tuple1)

tuple1 = tuple1 + (60, 70)
print(tuple1)

tuple1 = tuple1 * 2
print(tuple1)

(10, 20, 30, 40, 50)
(10, 20, 30, 40, 50, 60, 70)
(10, 20, 30, 40, 50, 60, 70, 10, 20, 30, 40, 50, 60, 70)


# DELETE OPERATION

In [32]:
# we don't have remove, pop in the tuple, Also we can't del the element but we can delete the entire tuple
tuple1 = (10, 20, 30, 40, 50)
print(tuple1)

del tuple1

# It will throw Name Error
print(tuple1)

(10, 20, 30, 40, 50)

NameError: name 'tuple1' is not defined


# LENGTH and COUNT

In [41]:
tuple1= (10, 20, 30, 40, 50)
print(tuple1)

print("LENGTH")
print(len(tuple1))

print("COUNT")
print(tuple1.count(10))

print("INDEX")
print(tuple1.index(20))

(10, 20, 30, 40, 50)
LENGTH
5
COUNT
1
INDEX
1


# SORT and REVERSE

In [38]:
tuple1 = (10, 20, 30, 40, 50)
print(tuple1)

# We can't use the sort function in Python, since sort will update the tuple. But sorted will create the new tuple.
#print(sort(tuple1))

print("SORT")
print(sorted(tuple1))

print("REVERSE")
tuple2 = tuple1[::-1]
print(tuple2) # It will also create the new tuple

(10, 20, 30, 40, 50)
SORT
[10, 20, 30, 40, 50]
REVERSE
(50, 40, 30, 20, 10)


# min, max, sum

In [39]:
tuple1 = (10, 20, 30, 40, 50)
print(tuple1)

print("MIN")
print(min(tuple1))

print("MAX")
print(max(tuple1))

print("SUM")
print(sum(tuple1))

(10, 20, 30, 40, 50)
MIN
10
MAX
50
SUM
150


# UNPACK TUPLE

In [48]:
# We can assign the values to a variable by unpacking the tuple as like below
# Here notice that when we use "*", it will return as list data type
fruits = ("apple", "banana", "cherry")
print(fruits)

(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)

fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

print(type(green))
print(type(yellow))
print(type(red))

fruits = ("apple", "mango", "papaya", "pineapple", "cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

('apple', 'banana', 'cherry')
apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
<class 'str'>
<class 'str'>
<class 'list'>
apple
['mango', 'papaya', 'pineapple']
cherry