<a href="https://colab.research.google.com/github/prabur90/Python/blob/main/collection_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


```
 This Program will explain the the concepts of Python List Data Type in Python
```


# List
```
1) List may contain duplicate Elements
2) Follow the insertion order
3) Mutable - We can add or remove the elements after created
4) Syntax:
      list1 = []
5) Example:
      list1 = [1,2,3, "Prabu", "Ram"]
6) We can access the element using it's index
```


# CREATE OPERATION

In [106]:
# Create a list
list = [1, 2, 3, "Prabu", (4,5),{"age":37}]
print(list)
print(type(list))

[1, 2, 3, 'Prabu', (4, 5), {'age': 37}]
<class 'list'>
0 1 2 3 4 5 6 7 8 9


# READ OPERATION

In [109]:
# Accessing the List Elements using index
# Index starts from 0
list = [1, 2, 3, "Prabu", (4,5),{"age":37}]
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])
# IndexError
# print(list[9])

# Accessing the elements from the end
print("Accessing the elements using negative index")
print(list[-1])
print(list[-2])
print(list[-3])
print(list[-4])
print(list[-5])
print(list[-6])

# Using for loop
for i in list:
    print(i, end=" ")

# Creating the sublist
print("Creating the sublist")
sublist = list[1:4]
print(sublist)

1
2
3
Prabu
(4, 5)
{'age': 37}
Accessing the elements using negative index
{'age': 37}
(4, 5)
Prabu
3
2
1
1 2 3 Prabu (4, 5) {'age': 37} Creating the sublist
[2, 3, 'Prabu']


# UPDATE OPERATION

In [51]:
# Update using index value
print("UPDATE using INDEX")
list = [1, 2, 3, 'Prabu', (4, 5), {'age': 37}]
print(f"Initial list element ---> {list}", end="\n")
list[0] = 10
print(f"Updated list element using index position 0 ---> {list}", end="\n\n")

# insert method
list1 = [1,2,3]
print("INSERT")
print(f"Initial list1 element ---> {list1}")
list1.insert(2, 10)
print(f"After inserting at the Position 2 ---> {list1}", end="\n\n")

# Add element using append method
"""
1. We can add one element at a time
2. It will be added in the last index
3. When we pass more than one element it will throw TypeError
"""
print("APPEND")
list = [1, 2, 3, 'Prabu', (4, 5), {'age': 37}]
print(f"Initial list element ---> {list}", end="\n")
list.append("Tech Lead")
print(f"After append the element ---> {list}", end="\n\n")
salary = {"salary":35000}


# extend method is used for extending the "list of elements" at the end
list1 = [1,2,3]
list2 = [4,5,6]
print("EXTEND")
print(f"Initial list1 element ---> {list1}", end="\n")
print(f"Initial list2 element ---> {list2}", end="\n")

list1.extend(list2)
print(f"After Extending the list1 ---> {list1}", end="\n\n")


print("DIFFERENCE BETWEEN EXTEND and APPEND")
list1 = [1,2,3]
list2 = [4,5,6]
print("Extend")
print(f"Initial list1 element ---> {list1}", end="\n")
print(f"Initial list2 element ---> {list2}", end="\n")
list1.extend(list2)
print(f"After Extending the list1 ---> {list1}", end="\n\n")

print("Append")
list1 = [1,2,3]
list2 = [4,5,6]
print(f"Initial list1 element ---> {list1}", end="\n")
print(f"Initial list2 element ---> {list2}", end="\n")
list1.append(list2)
print(f"After Appending the list1 ---> {list1}", end="\n\n")

UPDATE using INDEX
Initial list element ---> [1, 2, 3, 'Prabu', (4, 5), {'age': 37}]
Updated list element using index position 0 ---> [10, 2, 3, 'Prabu', (4, 5), {'age': 37}]

INSERT
Initial list1 element ---> [1, 2, 3]
After inserting at the Position 2 ---> [1, 2, 10, 3]

APPEND
Initial list element ---> [1, 2, 3, 'Prabu', (4, 5), {'age': 37}]
After append the element ---> [1, 2, 3, 'Prabu', (4, 5), {'age': 37}, 'Tech Lead']

EXTEND
Initial list1 element ---> [1, 2, 3]
Initial list2 element ---> [4, 5, 6]
After Extending the list1 ---> [1, 2, 3, 4, 5, 6]

DIFFERENCE BETWEEN EXTEND and APPEND
Extend
Initial list1 element ---> [1, 2, 3]
Initial list2 element ---> [4, 5, 6]
After Extending the list1 ---> [1, 2, 3, 4, 5, 6]

Append
Initial list1 element ---> [1, 2, 3]
Initial list2 element ---> [4, 5, 6]
After Appending the list1 ---> [1, 2, 3, [4, 5, 6]]

# DELETE OPERATION

In [77]:
# remove method will remove the "first occurence of the element" in the list
# if the element is not present it will throw ValueError
# It will remove the element not based upon the Index
list1 = [1,2,"Prabu","Ram",4,5]
print("REMOVE")
print(f"Initial elements in the list ---> {list1}", end="\n")
list1.remove("Prabu")
print(f"After removing the element ---> {list1}", end="\n\n")

# pop method will remove the element and returned the removed element
# If we don't pass the index, it will remove at the end of the element
list1 = [1,2,"Prabu","Ram",4,5]
print("POP")
print(f"Initial elements in the list ---> {list1}", end="\n")
removed_element = list1.pop()
print(f"After popping the element in the list ---> {list1}", end="\n")
print(f"Removed element ---> {removed_element}")

list1.pop(2)
print(f"After popping the 2nd index in the list ---> {list1}", end="\n\n")

# remove element using the del
print("DEL")
list1 = [1,2,"Prabu","Ram",4,5]
print(f"Initial elements in the list ---> {list1}", end="\n")
del list1[2]
print(f"After deleting the 2nd index in the list ---> {list1}", end="\n\n")

# remove more elements using del
list1 = [1,2,"Prabu","Ram",4,5]
print(f"Initial elements in the list ---> {list1}", end="\n")
del list1[2:5] # It won't include 5th element
print(f"After deleting the index from 2 to 5 in the list ---> {list1}", end="\n")
del list1[2:10] # It won't throw IndexError
print(f"After deleting the index from 2 to 10 in the list ---> {list1}", end="\n\n")

# del the entire list
list1 = [1,2,"Prabu","Ram",4,5]
print(f"Initial elements in the list ---> {list1}", end="\n")
del list1
print("If you are trying to access the list, it will throw NameError", end="\n\n")
# print(f"After deleting the list ---> {list1}", end="\n\n")

# clear method
print("CLEAR")
list1 = [1,2,"Prabu","Ram",4,5]
print(f"Initial elements in the list ---> {list1}", end="\n")
list1.clear()
print(f"After clearing the list ---> {list1}", end="\n\n")

REMOVE
Initial elements in the list ---> [1, 2, 'Prabu', 'Ram', 4, 5]
After removing the element ---> [1, 2, 'Ram', 4, 5]

POP
Initial elements in the list ---> [1, 2, 'Prabu', 'Ram', 4, 5]
After popping the element in the list ---> [1, 2, 'Prabu', 'Ram', 4]
Removed element ---> 5
After popping the 2nd index in the list ---> [1, 2, 'Ram', 4]

DEL
Initial elements in the list ---> [1, 2, 'Prabu', 'Ram', 4, 5]
After deleting the 2nd index in the list ---> [1, 2, 'Ram', 4, 5]

Initial elements in the list ---> [1, 2, 'Prabu', 'Ram', 4, 5]
After deleting the index from 2 to 5 in the list ---> [1, 2, 5]
After deleting the index from 2 to 10 in the list ---> [1, 2]

Initial elements in the list ---> [1, 2, 'Prabu', 'Ram', 4, 5]
If you are trying to access the list, it will throw NameError

CLEAR
Initial elements in the list ---> [1, 2, 'Prabu', 'Ram', 4, 5]
After clearing the list ---> []


# LENGTH and COUNT

In [81]:
# To get the length of the list
print("LEN")
list1 = [1,2,"Prabu","Ram",4,5]
print(f"Initial elements in the list ---> {list1}", end="\n")
count = len(list1)
print(f"Length of the list ---> {len(list1)}", end="\n\n")

# To get the number of occurences of an element in the list
print("COUNT")
list1 = [1,2,"Prabu","Ram",4,5,"Prabu"]
print(f"Initial elements in the list ---> {list1}", end="\n")
count = list1.count("Prabu")
print(f"Count of Prabu in the list ---> {count}", end="\n\n")

LEN
Initial elements in the list ---> [1, 2, 'Prabu', 'Ram', 4, 5]
Length of the list ---> 6

COUNT
Initial elements in the list ---> [1, 2, 'Prabu', 'Ram', 4, 5, 'Prabu']
Count of Prabu in the list ---> 2


# SORT and REVERSE

In [2]:
# To get the length of the list
# If your list contains the different data type, it will Throw Type Error
print("SORT")
list1 = [1,6,2,4,5,3,4]
print(f"Initial list ---> {list1}", end="\n")
list1.sort()
print(f"After sorting the list ---> {list1}", end="\n\n")

# sorted will return the sorted list and keep the original list as unchanged
print("SORTED")
list1 = [1,6,2,4,5,3,4]
print(f"Initial list ---> {list1}", end="\n")
sorted_list = sorted(list1)
print(f"Original list remains unchanged ---> {list1}", end="\n")
print(f"Sorted List ---> {sorted_list}", end="\n\n")

print("REVERSE")
list1 = [1,6,2,4,5,3,4]
print(f"Initial list ---> {list1}", end="\n")
list1.reverse()
print(f"After reversing the list ---> {list1}", end="\n\n")

print("REVERSE USING INDEX")
print(f"Initial list ---> {list1}", end="\n")
list1 = list1[::-1]
print(f"After reversing the list ---> {list1}", end="\n\n")

SORT
Initial list ---> [1, 6, 2, 4, 5, 3, 4]
After sorting the list ---> [1, 2, 3, 4, 4, 5, 6]

SORTED
Initial list ---> [1, 6, 2, 4, 5, 3, 4]
Original list remains unchanged ---> [1, 6, 2, 4, 5, 3, 4]
Sorted List ---> [1, 2, 3, 4, 4, 5, 6]

REVERSE
Initial list ---> [1, 6, 2, 4, 5, 3, 4]
After reversing the list ---> [4, 3, 5, 4, 2, 6, 1]

REVERSE USING INDEX
Initial list ---> [4, 3, 5, 4, 2, 6, 1]
After reversing the list ---> [1, 6, 2, 4, 5, 3, 4]

In [94]:
# min, max and sum of the list
print("MIN MAX SUM")
list1 = [1,3,4,5,3,7]
print(min(list1))
print(max(list1))
print(sum(list1))

MIN MAX SUM
1
7
23

In [95]:
# how can we compare two lists
list1 = [1,2,3,4]
list2 = [1,2,3,4]
print(list1 == list2)
print(list1 is list2) # objects have the same identity, rather than just the same value.

True
False

In [98]:
list1 = ["Apple", "Banana", "Orange"]
print("Orange" in list1)
print("Apple" in list1)
print("Apple" not in list1)

True
True
False