<a href="https://colab.research.google.com/github/prabur90/Python/blob/main/enumerate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### ENUMERATE


```
The enumerate () method adds a counter to an iterable and returns it in the form of an enumerating object.
This enumerated object can then be used directly for loops or converted into a
list of tuples using the list() function.

Syntax: enumerate(iterable, start=0)
```


### LIST as ITERABLE

In [4]:
# list as iterable
employees = ["Prabu", "Ram", "Suresh", "John"]

for i, employee in enumerate(employees, start=1):
    print(i, employee)

# with start value
for i, employee in enumerate(employees, start=1012):
    print(i, employee)

# with default, it will start from zero
for i, employee in enumerate(employees):
    print(i, employee)

# Return value
print(enumerate(employees))

# Converting to list of tuple values
print(list(enumerate(employees)))

1 Prabu
2 Ram
3 Suresh
4 John
1012 Prabu
1013 Ram
1014 Suresh
1015 John
0 Prabu
1 Ram
2 Suresh
3 John
<enumerate object at 0x7b94d53bf100>
[(0, 'Prabu'), (1, 'Ram'), (2, 'Suresh'), (3, 'John')]


### TUPLE as ITERABLE

In [5]:
# Tuple as iterable
employees = ("Prabu", "Ram", "Suresh", "John")

for i, employee in enumerate(employees, start=1):
    print(i, employee)

1 Prabu
2 Ram
3 Suresh
4 John


### DICT as ITERABLE

IMPORTANT in ENUMERATE

In [9]:
# dict as iterable
employees = {"Prabu": 1001, "Ram": 1002, "Suresh": 1003, "John": 1004}

# By default, if we pass the dict variable name, it will take the keys alone
for i, employee in enumerate(employees, start=1):
    print(i, employee)

# If we want to use the values, then follow the below
for i, employee in enumerate(employees.values()):
    print(i, employee)

# If we want to use the keys, then follow the below
for i, employee in enumerate(employees.keys()):
    print(i, employee)

# If we want to use the items, then follow the below
for i, employee in enumerate(employees.items()):
    print(i, employee)

1 Prabu
2 Ram
3 Suresh
4 John
0 1001
1 1002
2 1003
3 1004
0 Prabu
1 Ram
2 Suresh
3 John
0 ('Prabu', 1001)
1 ('Ram', 1002)
2 ('Suresh', 1003)
3 ('John', 1004)


### String as ITERABLE

In [10]:
# string as iterable
employees = "Prabu"

for i, employee in enumerate(employees, start=1):
    print(i, employee)

1 P
2 r
3 a
4 b
5 u


### SET as ITERABLE

In [11]:
# set as iterable
employees = {"Prabu", "Ram", "Suresh", "John"}

for i, employee in enumerate(employees, start=1):
    print(i, employee)

1 Prabu
2 John
3 Suresh
4 Ram