<a href="https://colab.research.google.com/github/prabur90/Python/blob/main/filter.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### FILTER, MAP and REDUCE


### FILTER



```
The filter() function returns an iterator where the items are filtered through a function to test if the item is accepted or not.

Syntax: filter(function, iterable)
```

In [10]:
# Using Filter

ages = [10,12,14,16,18]

def myfunc(x):
  if x > 13:
    return True

adults = filter(myfunc, ages)
print(type(adults))
for x in adults:
  print(x)

<class 'filter'>
14
16
18

In [6]:
# without filter, how can you get your values

ages = [10,12,14,16,18]

adults = []

for x in ages:
  if x > 13:
    adults.append(x)

print(adults)

[14, 16, 18]


### MAP



```
The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

Syntax: map(function, iterable)
```

In [20]:
names = ["Prabu", "Ram", "Shyam"]

def myfunc(x):
  return x.upper()

x = map(myfunc, names)
print(type(x))
print(tuple(x))

('PRABU', 'RAM', 'SHYAM')
<class 'map'>


### REDUCE



```
The map() function executes a specified function for each item in an iterable. The item is sent to the function as a parameter.

Syntax: map(function, iterable)
```

In [24]:
# Examples to understand the reduce() function
from functools import reduce

def add(a, b):
    return a + b

# Our Iterable
num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# add function is passed as the first argument, and num_list is passed as the second argument
sum = reduce(add, num_list)
print(f"Sum of the integers of num_list : {sum}")

# Passing 10 as an initial value
sum = reduce(add, num_list, 10)
print(f"Sum of the integers of num_list with initial value 10 : {sum}")

Sum of the integers of num_list : 55
Sum of the integers of num_list with initial value 10 : 65