<a href="https://colab.research.google.com/github/prabur90/Python/blob/Collections_and_datatypes/python_collection_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

`
**This Program will explain the the concepts of Python List Data Type in Python. **
`

```
# **`List`**
```
```
1) List may contain duplicate Elements
2) Follow the insertion order
3) Mutable - We can add or remove the elements after created
4) Syntax:
      list1 = []
5) Example:
      list1 = [1,2,3, "Prabu", "Ram"]
6) We can access the element using it's index
```

In [11]:
# List Data Type
# Create a list
list = [1, 2, 3, "Prabu", (4,5),{"age":37}]
print(list)

[1, 2, 3, 'Prabu', (4, 5), {'age': 37}]

In [19]:
# Accessing the List Elements
print(list[0])
print(list[1])
print(list[2])
print(list[3])
print(list[4])
print(list[5])

# Using for loop
for i in list:
    print(i, end=" ")

1
2
3
Prabu
(4, 5)
{'age': 37}
1 2 3 Prabu (4, 5) {'age': 37}

In [21]:
# How to append an element into the list
# 1. We can add one element at a time
# 2. Added in the last index

list.append({"name": "Dharaneesh"})
print(list)

[1, 2, 3, 'Prabu', (4, 5), {'age': 37}, {'name': 'Dharaneesh'}, {'name': 'Dharaneesh'}]