<a href="https://colab.research.google.com/github/prabur90/Python/blob/main/zip.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


### ZIP


```
The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together etc.

If the passed iterables have different lengths, the iterable with the least items decides the length of the new iterator

Syntax: zip(iterable1, iterable2, iterable3, etc
)
```

In [3]:
# zip method will return zip object
name = ["Prabu", "Ram","Kumar"]
age = [23,24,25]
salary = [20000,21000,22000]
employee = zip(name,age,salary)
print(employee)


# Converting the zip object to list will give the list of tuples
print(list(employee))

<zip object at 0x7f0c09427bc0>
[('Prabu', 23, 20000), ('Ram', 24, 21000), ('Kumar', 25, 22000)]

In [6]:
# Iterables with different length, It won't throw any error
name = ["Prabu", "Ram","Kumar"]
age = [23,24,25,36,37,28]
salary = [20000,21000,22000, 23000, 24000]
employee = list(zip(name,age,salary))
# you can notice that iterable with the least items decides the length of the new iterator. Here it is "name"
print(employee)

[('Prabu', 23, 20000), ('Ram', 24, 21000), ('Kumar', 25, 22000)]


### ZIP_LONGEST

In [10]:
import itertools
from itertools import zip_longest

# Iterables with different length, It won't throw any error
name = ["Prabu", "Ram","Kumar"]
age = [23,24,25,36,37,28]
salary = [20000,21000,22000, 23000, 24000]
employee = list((zip_longest(name,age,salary)))
# you can notice that None value will be appended if the value is not there
print(employee)

[('Prabu', 23, 20000), ('Ram', 24, 21000), ('Kumar', 25, 22000), (None, 36, 23000), (None, 37, 24000), (None, 28, None)]